[submodule "elrond-config-mainnet"]
	path = elrond-config-mainnet
	url = https://github.com/ElrondNetwork/elrond-config-mainnet

[submodule "elrond-go"]
	path = elrond-go
	url = https://github.com/ElrondNetwork/elrond-go
